@include laptop {
  .feature__container {
    margin-right: 3rem;
  }

  .banner-text {
    padding: 0 7rem;
  }
}

@include tablet {
  .feature__container {
    margin-right: 2rem;
  }

  .banner-text {
    padding: 0 4rem;
  }
}

@include small {
  .nav__menu {
    grid-template-columns: 1fr;

    &-logo {
      justify-content: center;

      h1 {
        @include brand(1.75rem)
      }
    }

    .nav-list {
      justify-content: center;
    }
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: auto;
    

    img {
      padding-top: 2rem;
      margin-left: -5rem;
      width: 100%;
    }

    &__container {
      height: auto;
      text-align: center;
      width: auto;
      margin: 0;

      a {
        align-self: center;
      }
    }
  }

  .banner-text {
    padding: 0 1rem;

    h3 {
      font-size: 1.6rem;
    }

    p {
      margin: 0 auto;
    }
  }

  .gallery__wrapper {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 300px);

      > a {
        grid-column: 1 / span 3;
      }

      a:first-child {
        grid-row: 1/2;
        grid-column: 1 / span 3;
      }

      a:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1 / span 3;
      }

      a:nth-child(3) {
        grid-row: 3/4;
      }

      a:nth-child(4) {
        grid-row: 4/5;
      }

      a:nth-child(4) {
        grid-row: 5/6;
      }

      a:last-child {
        grid-row: 6/7;
      }
    }
  }

  .footer {
    padding: 2rem 0;

    &__container {
      grid-template-columns: 1fr;
      text-align: center;

      > div {
        padding-bottom: 1.5rem;
      }
    }

  }
}