$brand-font: 'Dosis', sans-serif;
$main-font: 'Montserrat', sans-serif;
// $button-font: 'Livvic', sans-serif;
// $post-titles: 'Anton', sans-serif;

$strong-color: #222831;
$second-color: #393e46;
$hover-color: #00adb5;
$blog-color: #00fff5;

$light-color: linear-gradient(to right, $hover-color, $blog-color); 
